/* Custom Properties */
:root {
  --black: #010400;
  --white: #ffffff;
  --blue: #0e79b2;
  --red: #91171f;
  --gray: #6b6d76;
}

/* Elements */
* {
    box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: var(--black)
}
section {
    padding: 4rem 0;
}
form {
    width: 100%;
}
form input,
form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    border: none;
}
form input[type=submit] {
    display: block;
    margin: 1rem auto;
    max-width: 60%;
}
a {
    color: var(--black)
}
a:hover {
    color: var(--gray)
}
button,
input[type=submit] {
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.button-container {
    text-align: center;
}
button.outline-red {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
}
button.outline-red:hover {
    background-color: var(--red);
    color: var(--white);
}
/* Background */
.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ddd 50%, #fff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}
.bg3 {
  animation-duration: 20s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* Layout */
.container-flex {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}
.flex-direction-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

/* Utilities */
.font-weight-lighter {
    font-weight: lighter;
}
.font-weight-bold {
    font-weight: bold;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-spaced {
    letter-spacing: 0.15rem;
}
.text-center {
    text-align: center;
}
.text-small {
    font-size: .9rem;
}
.text-white {
    color: var(--white);
}
.text-blue {
    color: var(--blue);
}
.text-red {
    color: var(--red);
}
.bg-red {
    background-color: var(--red);
}
.bg-white {
    background-color: var(--white);
}
.trans-light {
    background-color: rgba(255,255,255,0.7);
}
.trans-dark {
    background-color: rgba(0,0,0,0.8)
}
.shadow {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}

/* Components */
.navbar {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}
.social-links i {
    margin-right: 1.5rem;
}
#menuButton {
    position: sticky;
    transform: scale(1.7);
}
#menuButton:hover {
    color: var(--red);
}
.jumbotron {
    margin-top: 4rem;
    padding: 4rem 1rem;
}
.jumbotron img {
    border-radius: 50%;
    max-width: 300px;
}
.jumbotron-text {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.jumbotron-text h1 {
    font-size: 2.7rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.jumbotron-text button {
    margin-top: 1.5rem;
}
@media (max-width: 700px) {
    .jumbotron {
        flex-direction: column;
        padding: 4rem 1rem;
        text-align: center;
    }
    .jumbotron img {
        max-width: 200px;
        margin: 0 auto;
        order: -1;
    }
    .jumbotron-text {
        margin: 2rem 0;
    }
    .jumbotron h1 {
        font-size: 2rem;
    }
}
.site-footer {
    text-align: center;
}
.dev-logos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem 16px;
}
.dev-logo {
    max-height: 64px;
    max-width: 50%;
    margin: 2rem 1rem 0 1rem;
}
@media (max-width: 700px) {
    .dev-logos {
        grid-template-columns: 33% 34% 33%;
        grid-gap: 24px;
    }
    .dev-logo {
        max-width: 100%;
    }
}